# Requirements for the demo notebooks
# Useful for MyBinder configuration
pandas
numpy
datascience
folium
matplotlib
nbinteract
scipy
jupyter-book


numpy==1.16.*
matplotlib==3.*
seaborn==0.8.1
pandas
argparse
nibabel